* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
} 

/*css for what we offer*/

#offer{
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
.offer_highlight{
	display: flex;
	flex-direction: row;
}
.offer_blockmark1{
	border: 1px solid  #D3D3D3;
	width: 45px;
}
.offer_blockmark2{
	border: 1px solid orange;
	width: 60px;
}
.offer_img{
	width: 200px;
	height: 200px;
}
.offer_landlord{
	display: flex;
	margin:40px 0;
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;

}
.offer_landlord_block{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
}
@media (max-width: 1200px) {
	.offer_landlord_block{
		margin: 20px 15px;
}
}

@media (max-width: 600px) {
	.offer_landlord{
		flex-direction: column;
		align-items: center;

	}
}

@media (max-width: 400px) {
	#offer h2{
	/*	border: 1px solid red;*/
		text-align: center;
	/*	align-content: center;*/
		/*justify-content: center;
		margin: auto;*/

	}
}