<section id="offer">
        <div><h2>ЧТО МЫ ПРЕДЛАГАЕМ</h2></div>
        <div class="offer_highlight">
            <div class="offer_blockmark1"></div>
            <div class="offer_blockmark2"></div>
            <div class="offer_blockmark1"></div>
        </div>
        <div class="offer_landlord">
            <div class="offer_landlord_block">
                <a href="#"><img src="./assets/man-icon.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛИ</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
            </div>
             <div class="offer_landlord_block">
                 <a href="#"><img src="./assets/man-icon.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛИ</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
            </div>
            <div class="offer_landlord_block">
                 <a routerLink="/personal"><img src="./assets/man-icon.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛИ</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
            </div>
            <div class="offer_landlord_block">
                 <a href="#" target="_blank"><img src="./assets/man-icon.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛИ</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
            </div>
        </div>
</section>