<section id="offer">
        <div><h2>ЧТО МЫ ПРЕДЛАГАЕМ</h2></div>
        <div class="offer_highlight">
            <div class="offer_blockmark1"></div>
            <div class="offer_blockmark2"></div>
            <div class="offer_blockmark1"></div>
        </div>
        <div class="offer_landlord">
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face1.png" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛЬ</h3>
                <p>Светящийся Джо. Берёт от жизни всё.</p>
            </div>
             <div class="offer_landlord_block">
               <a routerLink="/personalInfo"><img src="./assets/face_1.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛЬ</h3>
                <p>Невозмутимый Вилли. Его кандидатом в президенты утвердили)</p>
            </div>
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face_2.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛЬ</h3>
                <p>Бородатый Боб. Этот парень точно переодетый коп)</p>
            </div>
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face_3.jpg" class="offer_img"></a>
                <h3>АРЕНДОДАТЕЛЬ</h3>
                <p>Смазливый Чак. У него дома полнейший бардак</p>
            </div>
        </div>
</section>