<section id="offer">
        <div><h2>ЧТО МЫ ПРЕДЛАГАЕМ</h2></div>
        <div class="offer_highlight">
            <div class="offer_blockmark1"></div>
            <div class="offer_blockmark2"></div>
            <div class="offer_blockmark1"></div>
        </div>
        <div class="offer_landlord">
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face1.png" class="offer_img"></a>
                <h3>ДМИТРИЙ КОВАЛЬЧУК</h3>
                <div>Сдам 2 ком. квартиру в новострой р-н парка Победы цена 9000грв. срочно</div>
            </div>
             <div class="offer_landlord_block">
               <a routerLink="/personalInfo"><img src="./assets/face_1.jpg" class="offer_img"></a>
                <h3>ВЛАДИМИР ПЕТРОВИЧ</h3>
                <div>Сдам кухня студия+спальня с евро ремонтом все есть,новострой ж/к, Гольфстрим,. цена 11000грв.м</div>
            </div>
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face_2.jpg" class="offer_img"></a>
                <h3>ВИТАЛИЙ СИМОНЕНКО</h3>
                <div>Однокомнатная квартира Кадор 15 жемчужина</div>
            </div>
            <div class="offer_landlord_block">
                <a routerLink="/personalInfo"><img src="./assets/face_3.jpg" class="offer_img"></a>
                <h3>СТАС ИЛЮЩЕНКО</h3>
                <div>5/5 зт. "хрущевка", тамбур, бр. дверь, мпо, бойлер, диван, квартира в простом состоянии, но все необходимое есть, длительно для пары. Коммунальные, 50% отопления.</div>
            </div>
        </div>
</section>

