.header {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}
nav a {
	margin-right: 20px;
}
nav a:last-child {
	margin-right: 0;
}
a {
	cursor: pointer;
}
.header_icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 170px;
	margin-right: 30px;
}
p, a {
	color: #333;
}
.modal .modal-dialog .modal-content .modal-header h4 {
	text-transform: initial;
	color: #F39C12;
}
.modal .modal-dialog .modal-content .modal-body .form-horizontal .form-group label {
	text-transform: initial;
}
.modal .modal-dialog .modal-content .modal-body .form-horizontal .form-group label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal .modal-dialog .modal-content .modal-body .form-horizontal .form-group label a {
	color: #F39C12;
	padding-top: 4px;
}
.modal .modal-dialog .modal-content .modal-footer a {
	text-transform: initial;
	color: #F39C12;
}
.modal-footer a {
	float: left;
	padding-top: 6px;
}
.modal-footer a::after {
	content: '';
	display: table;
	clear: both;
}
.btn-primary {
	background-color: #F39C12;
	border-color: #F39C12;
}
.btn-default {
	margin-left: 0;
}
span {
	margin-bottom: -5px;
}
@media (max-width: 767px) {
	.header_icons:last-child {
	    width: 250px;
	}
	.header_icons a {
		margin-right: -185px;
	}
	.header_icons nav a {
		margin-right: -100px;
	}
	.modal-dialog {
		width: 97.3%;
	}
	.header_icons .modal-dialog a {
		margin-right: 0;
	}
}
@media (max-width: 600px) {
	.modal-dialog {
		width: 96.3%;
	}
}
@media (max-width: 500px) {
	.header_icons a {
		margin-right: -100px;
	}
	.header_icons nav a {
		margin-right: -70px;
	}
}
@media (max-width: 450px) {
	.modal-dialog {
		width: 95.3%;
	}
}
@media(max-width: 380px) {
	.header_icons a {
		margin-right: -50px;
	}
	.header_icons nav a {
		margin-right: -50px;
	}
	.modal-dialog {
		width: 94.3%;
	}
}