<footer id="footer">
        <div class="footer_head">
            <div class="footer_block1">
                <div><a href="#"><img src="./assets/house.png" width="20" height="20"></a><span class="textblock_style">SAFE-RENT</span></div>
                <div class="textblock_style2">"Объявления о недвижимости, не принадлежащие реальным  гражданам, не размещаются!"</div>
            </div>
            <div class="footer_block1">
                <div class="textblock_style1">ПОСЛЕДНИЕ ОТЗЫВЫ</div>
                <div class="textblock_style2">Андрей</div>
                <div class="textblock_style3">"Жили вместе с супругой в двухкомнатной квартире 3 дня, арендовали это место через сайт http://safe-rent.com. Cняли непосредственно у хозяина, что стало для нас приятной неожиданостью в отличие от аналогичных сервисов." <a href="#" class="textblock_refer"> читать дальше</a></div> 
                <div class="textblock_style2">Света</div>
                <div class="textblock_style3">"Я, как хозяйка, сдала квартиру гостям Одесского кинофестиваля и осталась довольна порядком и чистотой после интеллигентных людей. Спасибо Вашему сервису." <a href="#" class="textblock_refer"> читать дальше</a></div> 
            </div>
            <div class="footer_block1">
                <div class="textblock_style1">СООБЩИТЬ ОБ ОШИБКЕ</div>
                <div class="textblock_style2">Нашли ошибку на сайте?<br> Сообщите нам на почту</div>
                <div class="email-style"><a href="#"><img src="./assets/mail.jpg" width="12" height="12"><span class="email-add">test@gmail.com</span></a></div>
            </div>
        </div>
        <div class="footer_bottom">
            &#169; 2017 SAFE-RENT
        </div>        
</footer>