* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
}
#footer {
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}
.footer_head{
	background-color: #4F4F4F;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_block1{
	display: flex;
	flex-direction: column;
 	width: 300px;
 	margin-left: 38px;
}
.footer_block1:last-child{
 	width: 202px;
 	margin-left: 0;
}
.footer_block1:nth-child(even){
 	margin-left: -100px;
}
.textblock_style{
	font: bold 16px #fff;
	color: white;
	padding-left: 15px;
	
}
.textblock_style1{
	font: bold 16px #fff;
	color: white;
}
.textblock_style2{
	color: white;
	font: 14px regular #e0e0e0;
	margin-top: 15px;
}
.textblock_style3{
	color: white;
	font: 14px regular #e0e0e;
}
.textblock_style3 a{
	color: white;
	font-weight: 800; 
}
.email-style a{
	color: white;
	font: 18px regular #e0e0e;

}
.email-add{
	margin-left: 10px;
}
.email-style{
	margin-top: 15px;
}
.footer_bottom{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0;
	background-color: #333333;
	font: medium 14px;
	color: white;

}
@media (max-width: 992px) {
	.footer_head{
	flex-wrap: wrap;
}
.footer_block1:nth-child(even){
 	margin-left: -30px;
}
}

@media (max-width: 850px) {
	.footer_block1:first-child {
		margin-right: 20px;
	}
}
@media (max-width: 829px) {
	.footer_block1:nth-child(even){
		display: none;
	}
}

@media (max-width: 650px) {
	.footer_head{
		flex-direction: column;
		align-items: center;
	}
	.footer_block1:first-child {
		margin-right: -40px;
		margin-bottom: 20px;
	}
	.footer_block1:last-child {
		width: 260px;
		margin-left: 35px;
	}
}