<footer id="footer">
        <div class="footer_head">
            <div class="footer_block1">
                <div><a href="#"><img src="image/house.png" width="20" height="20"></a><span class="textblock_style">SAFE-RENT</span></div>
                <div class="textblock_style2">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</div>
            </div>
            <div class="footer_block1">
                <div class="textblock_style1">ПОСЛЕДНИЕ ОТЗЫВЫ</div>
                <div class="textblock_style2">Алена</div>
                <div class="textblock_style3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." <a href="#" class="textblock_refer"> читать дальше</a></div> 
                <div class="textblock_style2">Алена</div>
                <div class="textblock_style3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." <a href="#" class="textblock_refer"> читать дальше</a></div> 
            </div>
            <div class="footer_block1">
                <div class="textblock_style1">СООБЩИТЬ ОБ ОШИБКЕ</div>
                <div class="textblock_style2">Нашли ошибку на сайте?<br> Сообщите нам на почту</div>
                <div class="email-style"><a href="#"><img src="image/mail.jpg" width="12" height="12"><span class="email-add">test@gmail.com</span></a></div>
            </div>
        </div>
        <div class="footer_bottom">
            &#169; 2017 SAFE-RENT
        </div>        
</footer>