<div id="total_info">
   <div class="info_block">
        <img src="../../assets/Capa 1 16_card.svg">
        <h2>498</h2>
        <p>Aрендодателей</p>       
   </div>  
    <div class="info_block">
        <img src="../../assets/Capa 1 7_home.svg">
        <h2>126</h2>
        <p>Квартир</p>       
   </div> 
    <div class="info_block">
        <img src="../../assets/Capa 1 6_user.svg">
        <h2>967</h2>
        <p>Клиентов</p>       
   </div> 
    <div class="info_block">
        <img src="../../assets/Capa 1 17_comment.svg">
        <h2>600</h2>
        <p>Отзывов</p>       
   </div> 
       
</div>