<div id="posted">
	<div class="posted_img">
		<img src="./assets/apart8.jpg">
		<img src="./assets/apart7.jpg">
		<img src="./assets/apart9.jpg">
		<img src="./assets/apart10.jpg">
		<img src="./assets/apart11.jpg">
		<img src="./assets/apart12.jpg">
	</div>
	<div class="posted_info">
		<h2>Аренда квартиры в Одессе на ул. Малиновского</h2>
		<h2>Цена: <span>22 000 грн. /месяц </span> </h2>
		<h3 class="info">ОБЩАЯ ИНФОРМАЦИЯ</h3>
		<div id="posted_info">
			<p>Местоположение: <strong>Малиновского, 46/1, Суворовский район, Одесса</strong></p>
			<p>Количество комнат: <strong>4</strong></p>
			<p>Площадь (общая): <strong>105 кв.м</strong> </p>
			<p>Дополнительные данные: <strong>Wi-Fi, 3 телевизора, 4 кровати</strong></p>
			<p>Email: <strong> kv_arenda@mail.ru </strong></p>
			<p>Телефон: <strong> (068) 3534585 </strong></p>
			<p>Просмотров всего:<strong> 5</strong></p>
			<p>Просмотров за сегодня: <strong> еще не было</strong></p>
			<h4>Подано: <strong>19.08.2017 - 00:44</strong></h4>
			<h4>ID: <strong>256845</strong></h4>
		</div>
		<p class="info_description">Современный ремонт, квартира укомплектована новой мебелью: в коридоре большой шкаф-купе, в комнате большой новый диван, кухня встроенная, стиральная машина, холодильник, посудомоечная машина, телевизор, кондиционер, санузел смежный, кафель, новая сантехника, душевая кабина, стеклопакеты , бронированная дверь, красивый вид с окна, в 10 минутах ходьбы от станции метро «Тараса Шевченка».</p>
		<div class="info_footer">
			<a href="#"><img src="./assets/print.png"><span>Распечатать</span></a>
			<a href="#"><img src="./assets/complain.png"><span>Подать жалобу!</span></a>
			<a href="https://www.facebook.com" target="_blank"><img src="./assets/fb.png"><span>Нравиться</span></a>
	        <a href="https://twitter.com" target="_blank"><img src="./assets/tw.png"><span>Твитнуть</span></a>	
	        <a href="https://plus.google.com" target="_blank"><img src="./assets/goggle.png"><span>Поделиться</span></a>
	    </div>
	</div>
</div>

