 <div id="popular">
        <div><h2>ПОПУЛЯРНЫЕ КВАРТИРЫ</h2></div>
        <div class="offer_highlight">
            <div class="offer_blockmark1"></div>
            <div class="offer_blockmark2"></div>
            <div class="offer_blockmark1"></div>
        </div>
        <div class="content_pro">
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
        </div>
        <div class="content_pro">
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
            <div class="popular_block">
                <div class="block_props">
                    <div class="content_check"><img src="image/kvart.jpg" class="popular_img"></div>
                    <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                    <div class="popular_content">
                        <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">4000 грн.</p></div>
                    </div>
                    <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                    <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                    <div class="content_discription">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> 48 м<sup>2</sup></div>
                        <div class="content3 add"><img src="image/Group_bad.svg"> 2 кровати</div>
                        <div class="content3 add"><img src="image/Group_tv.svg"> 2 телевизора</div>
                    </div>
                     <div class="content_discription2">
                        <div class="content3"><img src="image/Capa 1 10_area.svg"> Wi-Fi</div>
                        <div class="content3"><img src="image/Group_bad.svg"> 1 балкон</div>
                        <div class="content3 add2"><img src="image/Group_tv.svg"> 4 этаж</div>
                    </div>
                    <img src="image/zzzz.jpg" class="content_img">
                    <div class="divider3"></div>
                    <div class="content_more"><a href="#">ПОДРОБНЕЕ</a></div>
                </div>
            </div>
        </div>
        <button class="offer_btn">ПОСМОТРЕТЬ ВСЕ</button>
    </div>