* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
} 

/*css for popular*/
#popular{
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0;
	background-color:  #F5F5F5;
}
.popular_img{
	width: 300px;
	height: 200px;
	margin-bottom: 0;
	cursor: pointer;
}
.popular_block{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	padding-top: 15px;*/
	margin: 15px;
}
.content_pro{
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;
}
/*#content_check:hover ~ .popular_button{
	display: block;
}*/
.popular_button{
	width: 130px;
	height: 30px;
	position: absolute;
	top: 20px;
	left: 15px;
	background-color: orange;
	border-radius: 5px;
	text-align: center;
	padding-top: 5px;
	display: none;
	
}
.popular_button a{
	color: white;
	text-decoration: none;
}
.popular_button a:hover{
	color: blue;
	font-weight: 700;
}
.popular_button:hover{
	border: 2px solid blue;
}
.popular_content{
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: white;
}
.block_props{
	display: block;
	flex-direction: column;
	width: 300px;
	position: relative;
	background-color: white;
		
}
.content1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
	margin-top: 5px;
	padding-top: 5px;
}
.content_class1{
	font-weight: bold;
}
.content_class2{
	font-weight: bold;
	color: orange;
}
.divider1{
	width: 220px;
	border: 1px solid #D3D3D3;
}
.divider2{
	width: 60px;
	border: 1px solid orange;
}
.main_divider{
	margin: 0 0 20px 10px;
	display: flex;
	flex-direction: row
}
.content2{
	font-size: 14px;
	font-weight: bold;
	margin-left: 15px;
}
.content_discription{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 10px;
	justify-content: space-between;
	width: 220px;
}
.content3{
	font-size: 12px;
}
.add{
	margin-top: 3px;
}
.content_discription2{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	justify-content: space-between;
	width: 190px;
	margin-top: 10px;
}
.add2{
	margin-left: 3px;
}
.content_img{
	width: 90px;
	margin: 5px 0 0 10px;
}
.divider3{
	width: 280px;
	margin-left: 10px;
	border: 1px solid #D3D3D3;
}
.content_more{
	margin: 10px 0 20px 0;
	text-align: center;
	color: black;
	font: bold;
}
.content_more a{
	color: black;
	font: bold;
	text-decoration: none;
}
/*.content_more a:hover{
	color: red;
	font-weight: 700;
}*/
.offer_btn{
	background-color: #F39C12;
	color: white;
	cursor: pointer;
	height: 40px;
	width: 160px;
	/*border-radius: 10px;*/
	margin: 55px 0 20px 0;
	border: none;

}
/*.offer_btn:hover{
	color: blue;
	border: 2px solid blue;
	font-weight: 800;
}*/

@media (max-width: 400px) {
	#popular h2{
		text-align: center;
	}
}

@media (max-width: 650px) {
	.content_pro{
		flex-direction: column;
		align-items: center;
	}
}