    <div id="block_personal">
    	<div class="splash"></div>
    	<h1 class="first_part">ПЕРВЫЙ УЧАСТНИК</h1>
    	<div class="first_props">
    		<div class="first_img">
    			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-LD6LilomsOHAtllVCFkyd7r92Kx5CZEsnUklFOD1ImK_V0FT">
    			<span class="margin_top"><a href="#">Написать</a></span>
    			<span class="margin_top2"><a href="#">Комментировать профиль</a></span>
    			<span class="margin_top2"><a href="#">Пожаловаться на автора</a></span>
    		</div>
    		<div class="first_contacts">
    			<div class="first_contacts_props"> 
    				<span>Имя</span>	
    				<span class="data">Роберт</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Фамилия</span>	
    				<span class="data">Дауни мл.</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Телефон</span>	
    				<span class="data">0674552056</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Квартир сдает</span>	
    				<span class="data">3</span>
    			</div>			
    			<div class="first_contacts_props margin_top2"> 
    				<span>Email</span>	
    				<span class="data">rob@mail.com</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Login</span>	
    				<span class="data">rob333</span>
    			</div>
    		</div>
    	</div>
    	<div class="first_info">
    		<h2>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</h2>
    		<span>    Здравствуйте, Я арендодатель. Меня зовут Роберт. Я обладатель пятикомнатного пентхауса в Аркадии. Я ценю свое время
                    и серьезность намерений людей, с которыми я работаю. Я устал от однотипных сервисов и посредников, которые обеспечивают
                    мне не подходящих квартиросъемщиков. Такие проблемы как: торг, порча дорогой мебели, а также занятие непристойными делами
                    в моей квартире - полностью не приемлемы для меня. С помощью данного сервиса я рассчитываю найти подходящих и надежных арендаторов.</span>
    	</div>
    	<h2 class="margin_top3">КВАРТИРЫ ПОЛЬЗОВАТЕЛЯ</h2>
    	<div id="popular">
            <div class="content_pro">
                <div *ngFor="let item of offer"  class="popular_block">
                    <div class="block_props">
                        <a routerLink="/poster"><div class="content_check"><img src="{{item.link}}" class="popular_img"></div></a>
                        <!-- <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div> -->
                        <div class="popular_content">
                            <div class="content1"><p class="content_class1">{{item.name}}</p><p class="content_class2">{{item.price}} грн.</p></div>
                        </div>
                        <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                        <div class="content2">{{item.adress}}</div>
                        <div class="content_discription">
                            <div class="content3"><img src="./assets/Capa 1 10_area.svg"> {{item.square}}м<sup>2</sup></div>
                            <div class="content3 add"><img src="./assets/Group_bad.svg"> {{item.bed}} кровати</div>
                            <div class="content3 add"><img src="./assets/Group_tv.svg"> {{item.tv}} телевизора</div>
                        </div>
                         <div class="content_discription2">
                            <div class="content3"><img src="./assets/Group_wifi.svg"> Wi-Fi</div>
                            <div class="content3"><img src="./assets/Group_bad.svg"> {{item.balcony}} балкон</div>
                            <div class="content3 add2"><img src="./assets/Group_bad.svg"> {{item.floor}} этаж</div>
                        </div>
                        <rating [(ngModel)]="starsCount" class="stars_add"></rating>
                        <div class="divider3"></div>
                        <div class="content_more"><a routerLink="/poster">ПОДРОБНЕЕ</a></div>
                    </div>
                </div>
            </div>     
        </div>
        <h2>КВАРТИРЫ СНЯТЫЕ ПОЛЬЗОВАТЕЛЕМ</h2>
        <div id="popular">
            <div class="content_pro">
                <div *ngFor="let item of rent"  class="popular_block">
                    <div class="block_props">
                        <a routerLink="/posterUser"><div class="content_check"><img src="{{item.link}}" class="popular_img"></div></a>
                      <!--   <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div> -->
                        <div class="popular_content">
                            <div class="content1"><p class="content_class1">{{item.name}}</p><p class="content_class2">{{item.price}} грн.</p></div>
                        </div>
                        <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                        <div class="content2">{{item.adress}}</div>
                        <div class="content_discription">
                            <div class="content3"><img src="./assets/Capa 1 10_area.svg"> {{item.square}}м<sup>2</sup></div>
                            <div class="content3 add"><img src="./assets/Group_bad.svg"> {{item.bed}} кровати</div>
                            <div class="content3 add"><img src="./assets/Group_tv.svg"> {{item.tv}} телевизора</div>
                        </div>
                         <div class="content_discription2">
                            <div class="content3"><img src="./assets/Group_wifi.svg"> Wi-Fi</div>
                            <div class="content3"><img src="./assets/Group_bad.svg"> {{item.balcony}} балкон</div>
                            <div class="content3 add2"><img src="./assets/Group_bad.svg"> {{item.floor}} этаж</div>
                        </div>
                        <rating [(ngModel)]="starsCount" class="stars_add"></rating>
                        <div class="divider3"></div>
                        <div class="content_more"><a routerLink="/posterUser">ПОДРОБНЕЕ</a></div>
                    </div>
                </div>
            </div>
        </div>
        <h2>КОММЕНТАРИИ К ПОЛЬЗОВАТЕЛЮ</h2>
        <div class="first_comments">
        	<div class="first_info2">
        		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-ozrfZlQmD7UydMtKcQiOjmp5_i6G0kNJsHFIDVyZ9imb6DJZUA">
        		<span class="first_info3">FRIEND</span>
        	</div>
        	<textarea id="textarea" maxlength="260">Снимали квартиру этим летом. Были довольны, т.к. не пришлось переплачивать за аренду пентхауса. Все было близко к морю, планируем приехать следующим летом.</textarea>
        </div>
        <div class="first_comments">
        	<form method="post" class="first_comments_real">
        		<button type="submit" name="submit" class="comment_confirm">Отправить комментарий</button>
    	    	<textarea id="textarea" maxlength="260" name="comment" placeholder="Добавьте сюда свой комментарий"></textarea>
        	</form>    	
        </div>
    </div>

			




		