<!-- <div *ngIf="isShow"> -->
    <div id="block_personal">
    	<div class="splash"></div>
    	<h1 class="first_part">ПЕРВЫЙ УЧАСТНИК</h1>
    	<div class="first_props">
    		<div class="first_img">
    			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-LD6LilomsOHAtllVCFkyd7r92Kx5CZEsnUklFOD1ImK_V0FT">
    			<span class="margin_top"><a href="#">Написать</a></span>
    			<span class="margin_top2"><a href="#">Комментировать профиль</a></span>
    			<span class="margin_top2"><a href="#">Пожаловаться на автора</a></span>
    		</div>
    		<div class="first_contacts">
    			<div class="first_contacts_props"> 
    				<span>Имя</span>	
    				<span class="data">Any</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Фамилия</span>	
    				<span class="data">Something</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Телефон</span>	
    				<span class="data">0674552056</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Квартир сдает</span>	
    				<span class="data">3</span>
    			</div>			
    			<div class="first_contacts_props margin_top2"> 
    				<span>Email</span>	
    				<span class="data">somewhere@ukr.net</span>
    			</div>
    			<div class="first_contacts_props margin_top2"> 
    				<span>Login</span>	
    				<span class="data">POROH333</span>
    			</div>
    		</div>
    	</div>
    	<div class="first_info">
    		<h2>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</h2>
    		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
    	</div>
    	<h2 class="margin_top3">КВАРТИРЫ ПОЛЬЗОВАТЕЛЯ</h2>
    	<div id="popular">
            <div class="content_pro">
                <div *ngFor="let item of offer"  class="popular_block">
                    <div class="block_props">
                        <div class="content_check"><img src="./assets/kvart.jpg" class="popular_img"></div>
                        <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                        <div class="popular_content">
                            <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">{{item.price}} грн.</p></div>
                        </div>
                        <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                        <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                        <div class="content_discription">
                            <div class="content3"><img src="./assets/Capa 1 10_area.svg"> {{item.square}}м<sup>2</sup></div>
                            <div class="content3 add"><img src="./assets/Group_bad.svg"> {{item.bed}} кровати</div>
                            <div class="content3 add"><img src="./assets/Group_tv.svg"> {{item.tv}} телевизора</div>
                        </div>
                         <div class="content_discription2">
                            <div class="content3"><img src="./assets/Group_wifi.svg"> Wi-Fi</div>
                            <div class="content3"><img src="./assets/Group_bad.svg"> {{item.balcony}} балкон</div>
                            <div class="content3 add2"><img src="./assets/Group_bad.svg"> {{item.floor}} этаж</div>
                        </div>
                        <img src="./assets/zzzz.jpg" class="content_img">
                    </div>
                </div>
            </div>     
        </div>
        <h2>КВАРТИРЫ СНЯТЫЕ ПОЛЬЗОВАТЕЛЕМ</h2>
        <div id="popular">
            <div class="content_pro">
                <div *ngFor="let item of rent"  class="popular_block">
                    <div class="block_props">
                        <div class="content_check"><img src="./assets/kvart.jpg" class="popular_img"></div>
                        <div class="popular_button"><a href="#">ПОДРОБНЕЕ</a></div>
                        <div class="popular_content">
                            <div class="content1"><p class="content_class1">LOREM IPSUM</p><p class="content_class2">{{item.price}} грн.</p></div>
                        </div>
                        <div class="main_divider"><div class="divider2"></div><div class="divider1"></div></div>
                        <div class="content2">Lorem Ipsum Dolor Sit Amet</div>
                        <div class="content_discription">
                            <div class="content3"><img src="./assets/Capa 1 10_area.svg"> {{item.square}}м<sup>2</sup></div>
                            <div class="content3 add"><img src="./assets/Group_bad.svg"> {{item.bed}} кровати</div>
                            <div class="content3 add"><img src="./assets/Group_tv.svg"> {{item.tv}} телевизора</div>
                        </div>
                         <div class="content_discription2">
                            <div class="content3"><img src="./assets/Group_wifi.svg"> Wi-Fi</div>
                            <div class="content3"><img src="./assets/Group_bad.svg"> {{item.balcony}} балкон</div>
                            <div class="content3 add2"><img src="./assets/Group_bad.svg"> {{item.floor}} этаж</div>
                        </div>
                        <img src="./assets/zzzz.jpg" class="content_img">
                    </div>
                </div>
            </div>
        </div>
        <h2>КОММЕНТАРИИ К ПОЛЬЗОВАТЕЛЮ</h2>
        <div class="first_comments">
        	<div class="first_info2">
        		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-ozrfZlQmD7UydMtKcQiOjmp5_i6G0kNJsHFIDVyZ9imb6DJZUA">
        		<span class="first_info3">FRIEND</span>
        	</div>
        	<textarea id="textarea" maxlength="260"></textarea>
        </div>
        <div class="first_comments">
        	<form method="post" class="first_comments_real">
        		<button name="submit" class="comment_confirm">Отправить комментарий</button>
    	    	<textarea id="textarea" maxlength="260" name="comment" placeholder="Добавьте сюда свой комментарий"></textarea>
        	</form>    	
        </div>
    </div>
<!-- </div> -->
<!-- <button (click)="toggleShow()">show/hides</button> -->

			




		