* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
} 
#posted {
	max-width: 1600px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	border: 2px solid grey;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 12px;
}
.posted_img{
	display: flex;
	flex-direction: column;
	max-width: 700px;
	height: 800px;
	overflow: auto;
}
.posted_img img{
	margin-top: 10px;
	margin-right: 20px;
	max-width: 100%;
}
.posted_info{
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-left: 20px;
	color: dimgray;
}
.info{
	border-bottom: 1px solid grey;
	max-width: 620px;
	padding-bottom: 12px;
	margin-bottom: 20px;
}
.info_description{
	padding: 5px;
}
#posted_info{
	/*border: 1px solid red;*/
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	color: dimgray;
}
.info_footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;	
	/*border: 1px solid red;*/
}
.info_footer a{
	text-decoration: none;
	color: dimgray;
	cursor: pointer;
}
.info_footer a > span{
	padding: 0 5px;
}
.info_footer a:nth-child(n+3) > img{
	padding-top: 5px;
}
@media (max-width: 1150px){
.info_footer{
	flex-wrap: wrap;
	}	
} 

@media (max-width: 900px){
#posted {
	flex-direction: column;
	align-items: center;
	}
.posted_info{
	padding: 0 20px;
	}	
} 
@media (max-width: 600px){
.info_footer{
	flex-direction: column;
	align-items: center;
	/*padding-left: 60px;*/
 	}
.info_footer a{
	padding-top: 15px;

	}
}