* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
} 

#offer{
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}
.offer_highlight{
	display: flex;
	flex-direction: row;
}
.offer_blockmark1{
	border: 1px solid  #D3D3D3;
	width: 45px;
}
.offer_blockmark2{
	border: 1px solid orange;
	width: 60px;
}
#offer h2{
	font-weight: 800;
}
.impost{
	display: flex;
	margin-top: 40px;
	padding: 0 50px;
	justify-content: space-between;
	flex-direction: row;
/*	border: 1px solid red;*/
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
}
.impost_text{
	font-size: 18px;
	max-width: 1200px;
}
.impost button{
	color: white;
	width: 240px;
	height: 55px;
	background-color: orange;
	border-radius: 10px;
	text-transform: uppercase;
}
.impost button:hover{
	color: blue;
	border: 2px solid blue;
	font-weight: 800;
}
.circs{
	display: flex;
	flex-direction: row;
	padding: 40px 50px;
	justify-content: space-between;
	max-width: 1600px;
	min-width: 320px;
	width: 100%;
}
.circs_text{
	padding-left: 80px;
	padding-top: 20px;
	font-size: 18px;

}
.circs a{
	color: black;
	text-decoration: none;
}
.circs a:hover{
	color: blue;
	
}