<div id="area">
        <div><h2>РАЙОНЫ</h2></div>
        <div class="area_highlight">
            <div class="area_blockmark1"></div>
            <div class="area_blockmark2"></div>
            <div class="area_blockmark1"></div>
        </div>
        <div class="area_detail">
            <div class="area_block">
                <h3>СУВОРОВСКИЙ РАЙОН<br><a href="/">365 апартаментов</a></h3>
            </div>
            <div class="area_block">
                <h3>МАЛИНОВСКИЙ РАЙОН<br><a href="/">325 апартаментов</a></h3>
            </div>
            <div class="area_block">
                <h3>ПРИМОРСКИЙ РАЙОН<br><a href="/">155 апартаментов</a></h3>
            </div>
             <div class="area_block">
                <h3>ТАИРОВСКИЙ РАЙОН<br><a href="/">525 апартаментов</a></h3>
            </div>
            <div class="area_block">
                <h3>МИХАЙЛОВСКИЙ РАЙОН<br><a href="/">115 апартаментов</a></h3>
            </div>
            <div class="area_block">
                <h3>КИЕВСКИЙ РАЙОН<br><a href="/">225 апартаментов</a></h3>
            </div>
        </div>
</div>